
    <x5engine-card
        id="product_{{product.productId}}_card" 
        class="{{#if misc.isArrangeSlideshow}}swiper-slide {{/if}}im-cc-products-card{{#if product.productAvailabilityShow}} im-cc-products-card-with-availability{{/if}}{{#if product.productOptionsShow}} im-cc-products-card-with-options{{/if}}" 
        contentlayout="{{misc.cardContentLayout}}" 
        {{#if misc.cardContentDimension}}contentdimension="{{misc.cardContentDimension}}" {{/if}}
        {{#if misc.cardBreakpoint}}breakpoint="{{misc.cardBreakpoint}}" {{/if}}
        fixedHeight="{{#if misc.cardFixedHeight}}true{{else}}false{{/if}}" 
        {{#if misc.isArrangeSlideshow}}{{else}}slot="arrangeable" {{/if}}
        {{#if misc.layoutVerticalMediaQueryStart}}layoutverticalmediaquerystart="{{misc.layoutVerticalMediaQueryStart}}" {{/if}}
    >
        <div slot="cover" >
            {{>cardEcommerceImagePartial l10n=l10n card=card misc=misc product=product}}
        </div>
        <div slot="cockades" >
            {{>cardEcommerceCockadesPartial l10n=l10n card=card misc=misc product=product}}
        </div>
        <div slot="title" >
            {{>cardEcommerceTitlePartial l10n=l10n card=card misc=misc product=product}}
        </div>
        <div slot="contents" >
            {{>cardEcommerceContentsPartial l10n=l10n card=card misc=misc product=product}}
        </div>

    </x5engine-card>
    